[submodule "external/loguru"]
	path = external/loguru
	url = https://github.com/emilk/loguru.git
[submodule "external/rpmalloc.git"]
	path = external/rpmalloc.git
	url = https://github.com/mjansson/rpmalloc.git
